@import 'variables';
@import 'mixins';

.filter-tag {
  padding: 15px 30px;
  border-radius: 60px;
  background-color: $white_main;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease 0s;
  border: none;
  outline: none;
  cursor: pointer;
  flex-shrink: 0;
  &:hover {
    background-color: $green_main;
    @include mobile {
      background-color: $white_main;
    }
  }
  &:focus {
    background-color: #e5e6e8;

    @include mobile {
      background-color: $white_main;
    }
  }
  &--active {
    background-color: $green_main;
    &:hover {
      background-color: $green_main;
    }
  }
  &--active:focus {
    background-color: $green_btn_hover;
  }
}
