@import 'variables';
@import 'mixins';

.accordion {
  &__item {
    border-top: 0.5px solid rgba($black_common, 0.3);

    &:last-of-type {
      border-bottom: 0.5px solid rgba($black_common, 0.3);
    }
  }

  &__header {
    padding: 27px 50px 27px 0;
    position: relative;

    @include mobile {
      padding: 15px 50px 15px 0;
    }

    &--active + .accordion__content {
      max-height: 999px;
      padding-top: 13px;
      padding-bottom: 33px;

      @include mobile {
        padding-top: 5px;
        padding-bottom: 20px;
      }
    }

    &--active .accordion__icon::after {
      transform: translateY(-50%) rotate(0deg);
    }
  }

  &__icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
  }

  &__content {
    padding: 0 30px;
    margin: 0 -30px;
    max-height: 0;
    transition: max-height 0.3s ease 0s, padding-bottom 0.3s ease 0s, padding-top 0.3s ease 0s;
    overflow: hidden;
    box-sizing: content-box;
    color: $black;

    p {
      color: $black;
    }
  }

  &__name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
  }

  .grid__col--sm {
    max-width: 400px;
    flex-shrink: 0;
  }
}
