@import 'variables'; @import 'mixins';

.select {
  position: relative;
  z-index: 1;
  cursor: pointer;

  input {
    pointer-events: none;
  }

  &__icon {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(0%, -50%);
    transition: transform 0.3s ease 0s;
  }
  &__dropdown--active + &__icon {
    transform: translate(0%, -50%) rotate(180deg);
  }
  &__dropdown {
    position: absolute;
    box-shadow: 0px 0px 10px rgba(black, 0.2);
    top: 100%;
    left: 0%;
    right: 0%;
    transform: translate(0%, 10%);
    background-color: $white;
    border-radius: 12px;
    padding: 21px;
    opacity: 0;
    transition: opacity 0.3s ease 0s;
    pointer-events: none;
    z-index: 6;
    &--active {
      opacity: 1;
      pointer-events: initial;
    }
  }
  &__option {
    font-size: 12px;
    white-space: nowrap;
    letter-spacing: 0.03em;
    color: $gray_header;
    transition: color 0.3s ease 0s;
    cursor: pointer;

    &:hover {
      color: $green_main;
    }
    &--active {
      color: $green_main;
    }
  }
}

.select:not(.select-basic) input {
    height: 50px;
    border: 1px solid rgba(139, 143, 147, 0.1);
    border-radius: 7px;
    padding: 0 20px;
    background-color: $white;
    width: 100%;
}

.select-basic input {
  padding-top: 0;
}
