.step-4 {
  padding-top: 70px;

  @media screen and (max-width: $mobile) {
    padding-top: 100px;
  }
  &__caption {
    color: $gray_caption_step;
    padding-bottom: 16px;
  }
  &__title {
    max-width: 450px;
    padding-bottom: 60px;
    @media screen and (max-width: $mobile) {
      padding-bottom: 30px;
    }
  }
}
