@import 'variables';
@import 'mixins';
.main-slider {
  position: relative;
  &__item {
    height: calc(100vh - 200px);
    min-height: calc(770px - 120px);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    @media screen and (max-width: $tablet) {
      height: auto;
    }
    @media screen and (max-width: $mobile) {
      min-height: 0;
    }
  }
  &__content {
    max-width: 410px;
    padding-top: 70px;
    position: relative;
    z-index: 1;
    @media screen and (max-width: $tablet) {
      padding-top: 50px;
      max-width: 505px;
    }
    @media screen and (max-width: $mobile) {
      padding-top: 35px;
    }
  }
  &__caption {
    margin-bottom: 10px;
  }
  &__title {
    margin-bottom: 37px;
    @media screen and (max-width: $mobile) {
      margin-bottom: 28px;
    }
  }
  &__description {
    margin-bottom: 54px;
    @media screen and (max-width: $mobile) {
      margin-bottom: 32px;
    }
  }
  &__image {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 75%;
    img {
      object-fit: cover;
      object-position: center center;
      width: 100%;
      height: 100%;
    }
    @media screen and (max-width: $tablet) {
      position: static;
      width: 100%;
      margin-top: 60px;
    }
    @media screen and (max-width: $mobile) {
      margin-top: 32px;
    }
  }
  &__vector {
    background-position: right center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 40%;
    min-width: calc(#{$margin-desktop} + 440px);
    @include container {
      min-width: calc(#{$padding-desktop} + 440px);
    }

    @media screen and (max-width: $tablet) {
      opacity: 0;
      pointer-events: none;
      z-index: -1;
    }
  }
  &__thumbnail {
    &-item {
      padding-right: 34px;
    }
    position: absolute;
    bottom: 35px;
    left: 0;
    width: calc(384px + #{$margin-desktop});
    padding-left: $margin-desktop;
    @include container {
      padding-left: $padding-desktop;
    }
    @media screen and (max-width: $tablet) {
      bottom: 0;
      transform: translateY(50%);
      z-index: 1;
      padding-left: $padding-tablet;
      width: calc(384px + #{$padding-tablet});
    }
    @media screen and (max-width: $mobile) {
      padding-left: $padding-mobile;
      width: calc(264px + #{$padding-mobile});
    }
  }
  &__thumbnail-wrapper {
    width: auto;
    height: auto;
  }
  .swiper-slide-active &__thumbnail-item {
    background-color: $green_main;
    .card-thumbnail__title {
      color: $white;
    }
    .card-thumbnail__note {
      color: rgba($white, 0.7);
    }
  }
  &__thumbnail-item {
    height: 100%;
  }
}
