@import 'variables';
@import 'mixins';

.case-video {
  padding-top: 140px;

  @media screen and (max-width: $mobile) {
    padding-top: 100px;
  }

  & .video-block__poster,
  span {
    position: static;
  }

  &__title {
    padding-bottom: 32px;
    max-width: 840px;
    @media screen and (max-width: $mobile) {
      padding-bottom: 20px;
    }
  }
  &__description {
    padding-bottom: 80px;
    @media screen and (max-width: $mobile) {
      padding-bottom: 25px;
    }
  }
  &__video {
    padding-top: 0;
    overflow: hidden;
    & .video-block__video {
      height: 101%;
    }
    @include full-width;
  }
}
