@import 'variables';
@import 'mixins';
.case-main {
  padding-top: 80px;

  @media screen and (max-width: $mobile) {
    padding-top: 40px;
  }
  &__title {
    font-weight: 500;
    font-size: 60px;
    line-height: 120%;
    color: $black;
    padding-bottom: 40px;
    @media screen and (max-width: $mobile) {
      font-size: 26px;
      padding-bottom: 30px;
    }
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 80px;
    @media screen and (max-width: $tablet) {
      display: block;
    }
    @media screen and (max-width: $mobile) {
      padding-bottom: 30px;
    }
  }
  &__description {
    max-width: 570px;
    margin-right: 58px;
    flex: 1;
    @media screen and (max-width: $tablet) {
      margin-right: 0;
      padding-bottom: 30px;
    }
  }
  &__tags {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    margin-right: -8px;
    @media screen and (max-width: $mobile) {
      flex-wrap: wrap;
      margin-bottom: -8px;
    }
  }
  &__tag {
    margin-right: 8px;
    @media screen and (max-width: $mobile) {
      margin-bottom: 8px;
    }
  }
  &__image {
    width: 100%;
    display: block;
    margin-bottom: 80px;
    @media screen and (max-width: $mobile) {
      margin: 0 -16px 40px;
      width: calc(100% + 32px);
      max-width: calc(100% + 32px);
    }
  }
  &__info {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    @media screen and (max-width: $mobile) {
      display: block;
    }
  }
  &__subtitle {
    flex-shrink: 0;
    margin-right: 50px;
    @media screen and (max-width: $mobile) {
      margin-right: 0;
      padding-bottom: 30px;
    }
  }
  &__list {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    margin-bottom: -50px;
    width: 55%;
    
    @media screen and (max-width: $mobile) {
      width: 100%;
      margin-bottom: -20px;
      display: block;
    }
  }
  &__list-item {
    width: 33%;
    margin-bottom: 50px;
    @include tablet {
      width: 50%;
    }
    @media screen and (max-width: $mobile) {
      width: 100%;
      margin-bottom: 20px;
      display: flex;
      align-items: center;
    }
  }
  &__list-caption {
    padding-bottom: 8px;
    color: $black_common;
    @media screen and (max-width: $mobile) {
      font-size: 9px;
      line-height: 140%;
      padding-bottom: 0;
      flex-shrink: 0;
      margin-right: 15px;
      width: 40%;
    }
  }
  &__list-title {
    max-width: 194px;
    @media screen and (max-width: $mobile) {
      max-width: none;
    }
  }
}
