@import 'variables'; @import 'mixins';

.menu-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $black;
  transition: color 0.3s ease 0s;
  &:hover {
    color: $gray_header_hover;
  }
  &__icon {
    width: 14px;
    height: 14px;
    position: relative;
    padding: 10px;
    span {
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $black;
      transform: translateY(-50%);
    }
    span:last-child {
      transition: transform 0.3s ease 0s;
      transform: translateY(-50%) rotate(90deg);
    }
    &::after {
      content: '';
      display: block;
      position: absolute;
      right: -10px;
      left: -40px;
      top: -10px;
      bottom: -10px;
    }
  }
  &--active &__icon span:last-child {
    transform: translateY(-50%) rotate(0deg);
  }
}
