.header-item-stocks {
  &__wrapper {
    padding-top: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: -32px;
  }
  & &__card {
    width: calc(50% - 16px);
    margin-bottom: 32px;
  }
}